body, html {
  height: 100%;
  font-size: 16px; }

.navbar {
  margin-top: 15px; }

.hero {
  padding: 20px;
  background-image: url("/img/woman.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px; }
  .hero .introText {
    margin: 20px;
    width: 70%; }
  .hero h1 {
    font-size: 5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .hero .introSearchLaw {
    padding: 20px 20px 0 20px; }
    .hero .introSearchLaw input[type="text"] {
      padding: 7px 7px 7px 12px;
      font-size: 1.3em;
      font-weight: 300; }
    .hero .introSearchLaw .btn {
      margin: -10px 0 0 20px;
      background: #000;
      border: none; }

.sec2Home {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }
  .sec2Home h2 {
    font-size: 2em; }
  .sec2Home small {
    font-size: 1.3em;
    margin: -5px 0 0 0;
    display: block; }
  .sec2Home .elaResources {
    margin: 25px 0 0 0; }
    .sec2Home .elaResources ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .sec2Home .elaResources ul li {
        margin-bottom: 5px; }
        .sec2Home .elaResources ul li a {
          color: #8C8A8A;
          font-weight: 500; }
          .sec2Home .elaResources ul li a:hover {
            color: #000;
            text-decoration: none; }

#slider {
  background: #444444; }
  #slider ul {
    margin: 10px 0 0 0;
    padding: 10px;
    list-style: none; }
    #slider ul li {
      padding: 10px 0 10px 20px; }
      #slider ul li a {
        color: #fff; }
      #slider ul li:hover {
        background: #000;
        text-decoration: none; }

.navbar-default {
  background-color: #fff;
  border-color: #fff; }

.navbar-brand img {
  height: 90%; }

a.slideR {
  font-size: 1.2em; }
  a.slideR .fa-bars {
    margin-right: 3px; }

@media (max-width: 780px) {
  .hero h1 {
    font-size: 3em; }
  .hero input[type="text"] {
    width: 100%; }
  .hero .btn {
    display: block;
    margin: 15px 0 0 0 !important; } }
